<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>BmiServlet</servlet-name>
        <servlet-class>controller.BmiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BmiServlet</servlet-name>
        <url-pattern>/bmiservlet</url-pattern>
    </servlet-mapping>

    <!--使用httpservletresponse输出数据-->
    <servlet>
        <servlet-name>BmiPrintServlet</servlet-name>
        <servlet-class>controller.BmiPrintServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BmiPrintServlet</servlet-name>
        <url-pattern>/bmiprint</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BmiAjaxServlet</servlet-name>
        <servlet-class>controller.BmiAjaxServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BmiAjaxServlet</servlet-name>
        <url-pattern>/bmiajax</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>QueryProvice</servlet-name>
        <servlet-class>controller.QueryProviceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QueryProvice</servlet-name>
        <url-pattern>/queryprovice</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>QueryJsonServlet</servlet-name>
        <servlet-class>controller.QueryJsonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QueryJsonServlet</servlet-name>
        <url-pattern>/queryjson</url-pattern>
    </servlet-mapping>
</web-app>